.texto {
    text-align: center;
}



.galeria {
    margin-left: auto;
    margin-right: auto;

    .imagen {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        max-height: 100%;
     
        
    }

}

.home-caja-dos {
    margin-top: 80px;
    margin-bottom: 80px;
}

.home-caja-cuatro {
    margin-top: 80px;
    margin-bottom: 80px;
}



.comentarios {

    h1 {
        text-align: center;
    }

    .comentario-caja {
        background-color: white;
        max-height: 300px;
        text-align: center;
        padding-top: 20px;
        padding-right: 60px;
        padding-bottom: 20px;
        padding-left: 60px;
       

        p {
            color: var(--color-tipo);
        }
    }
}

