.localizacion-texto {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 80px;


    .horario {
        margin-right: 150px;
    }

}