{% include "./header.njk" %}

  

  

  <div class="container">
    <div class="cabecera" style="background: url({{ imagenCabecera }}) no-repeat; background-size: cover;">
    {% include "./nav.njk" %}
      <h1> {{ tituloCabecera }} <h1>
    </div>

    {{ content | safe }}
    
  </div>


{% include "./footer.njk" %}
