{% include "./header.njk" %}

  

  

  <div class="container">
    <div class="cabecera" style="background: url({{ imagenCabecera }}) no-repeat; background-size: cover;">
        <div class="navegacion">
          <a href="/">
            <img class="cabecera-titulo" src="../images/home/home-titulo.png">
          <a>  
            {% include "./nav.njk" %}
        </div>
      
        <img class="cabecera-titulo" src="{{ tituloCabecera }}">
      
    </div>

    {{ content | safe }}
    
  </div>


{% include "./footer.njk" %}
