{% include "./header.njk" %}

  
  <div class="container">
    <a href="/packs/">
      <img class="flecha" src="../images/variedad/variedad-flecha.png">
    </a>

    {{ content | safe }}
    
  </div>
