

  <div class="footer">
    
    <hr class="linea-superior">

    <div class="footer-texto">
      <div class="footer-logo">LA CROQUETERIE</div>
      <div class="footer-navegacion">
        <a>Contacto</a>
        <a>Guía de dietas especiales</a>
        <a>Política de Privacidad</a>
        <a>Terminos y Condiciones</a>
      </div>

      <div class="footer-social">
        <a>
          <img class="social" src="../images/footer/instagram.png">
        </a>
        <a>
          <img class="social" src="../images/footer/facebook.png">
        </a>
        <a>
          <img class="social" src="../images/footer/twitter.png">
        </a>
      </div>

    </div>

    <hr class="linea-inferior">

    <div class="footer-dominio">®LA CROQUETERIE</div>
  </div> <!--fin .footer-->
  

  <script src="/scripts/index.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/slick/slick.min.js"></script>


  <script type="text/javascript">
      $('.galeria-home').slick({
      slidesToShow: 3,
      adaptiveHeight: true,
      responsive: [
          {
          breakpoint: 768,
          settings: {
              arrows: true,
              slidesToShow: 3
          }
          },
          {
          breakpoint: 480,
          settings: {
              arrows: true,
              slidesToShow: 1
          }
          }
      ]
      });

  </script>

   <script type="text/javascript">
      $('.comentarios-galeria').slick({
      slidesToShow: 3,
      adaptiveHeight: true,
      responsive: [
          {
          breakpoint: 801,
          settings: {
              arrows: false,
              slidesToShow: 3
          }
          },
          {
          breakpoint: 800,
          settings: {
              arrows: true,
              slidesToShow: 1
          }
          }
      ]
      });

  </script>


  <script type="text/javascript">
      $('.galeria-packs').slick({
      slidesToShow: 3,
      adaptiveHeight: true,
      responsive: [
          {
          breakpoint: 768,
          settings: {
              arrows: false,
              slidesToShow: 3
          }
          },
          {
          breakpoint: 480,
          settings: {
              arrows: true,
              slidesToShow: 1
          }
          }
      ]
      });

  </script>

  <script type="text/javascript">
      $('.galeria-historia').slick({
      slidesToShow: 3,
      adaptiveHeight: true,
      responsive: [
          {
          breakpoint: 768,
          settings: {
              arrows: false,
              slidesToShow: 3
          }
          },
          {
          breakpoint: 480,
          settings: {
              arrows: true,
              slidesToShow: 1
          }
          }
      ]
      });

  </script>

  <script type="text/javascript">
      $('.galeria-carta').slick({
      slidesToShow: 3,
      adaptiveHeight: true,
      responsive: [
          {
          breakpoint: 768,
          settings: {
              arrows: false,
              slidesToShow: 3
          }
          },
          {
          breakpoint: 480,
          settings: {
              arrows: false,
              slidesToShow: 1
          }
          }
      ]
      });

  </script>



</body>
</html>
