---
layout: layouts/base.njk
title: Carta
eleventyNavigation:
    key: carta
    title: CARTA
    order: 1
imagenCabecera: ../images/carta/carta-banner.jpg
tituloCabecera: CARTA
---

<div class="caja-intro"> 
    <div class="imágen-fondo">Aquí va imagen</div> <!-- la imagen igual se puede poner de fondo-->
    <div class="texto">Aquí va texto</div> 
</div>

<div class="galeria">

</div>

<div class="carta-caja-dos">
    <h1> Croquetas de jamón</h1>
    <div class="estrellas"></div>
    <p>
    Las croquetas de jamón son unas de las croquetas más populares a día de hoy. No defraudaremos vuestro exquisito paladar con esta receta secreta de <br>
    nuestra amama. Intamos, una vez más, ofrecerte las mejores croquetas, como las que hacia tu propia abuela. <br>
    ¡Pruebalas y nos cuentas! 
    </p>
    <div class="ingredientes">
        <h2>Ingredientes</h2>
        <p>Jamón Serrano</p>
        <p>Cebolleta</p>
        <p>Ajo</p>
        <p>Harina</p>
        <p>Aceite de Oliva</p>
        <p>Leche</p>
        <p>Huevos</p>
        <p>Pan Rallado</p>
    </div>

    <div class="propiedades">
        <h2>Propiedades</h2>
        <div class="propiedades-texto">
            <p>
            La croqueta de jamón ibérico destaca por contener muchas vitaminas y minerales saludables para el cuerpo humano. Entre las vitaminas encontramos la <br>
            B1, B2, B3, B6 y más vitaminas del grupo D. En cuanto a los minerales, son abundantes el hierro, zinc, fósforo, calcio y magnesio entre otros. 
            </p>
            <p>La comida mediterránea tiene entre sus máximos exponntes al jamón ibérico ademas de otros muchos productos.</p>
       </div>
       <div class="alergenos"></div>
    </div>

    <div class="comentarios"> 
        <h1>Comentarios</h1>
   
    </div>

</div>