---
layout: layouts/base.njk
title: Carta
eleventyNavigation:
    key: carta
    title: CARTA
    order: 1
imagenCabecera: ../images/carta/carta-banner.jpg
tituloCabecera: ../images/carta/carta-titulo.png
---

<div class="galeria-carta">
    <div class="imagen">
        <img src="../images/carta/carta-1.png">
   </div>
   <div class="imagen">
        <img src="../images/carta/carta-2.png">
   </div>
   <div class="imagen">
        <img src="../images/carta/carta-1.png">
   </div>
   <div class="imagen">
        <img src="../images/carta/carta-2.png">
   </div>
   <div class="imagen">
        <img src="../images/carta/carta-1.png">
   </div>
   <div class="imagen">
        <img src="../images/carta/carta-2.png">
   </div>

</div>

<div class="carta-caja-dos">
    <h1> Croquetas de jamón</h1>
    <div class="estrellas">
        <img src="../images/carta/carta-rating.png">
    </div>
    <p class="descripcion">
    Las croquetas de jamón son unas de las croquetas más populares a día de hoy. No defraudaremos vuestro exquisito paladar con esta receta secreta de 
    nuestra amama. Intamos, una vez más, ofrecerte las mejores croquetas, como las que hacia tu propia abuela. 
    ¡Pruebalas y nos cuentas! 
    </p>
    <div class="ingredientes">
        <h2>Ingredientes</h2>
        <p>Jamón Serrano</p>
        <p>Cebolleta</p>
        <p>Ajo</p>
        <p>Harina</p>
        <p>Aceite de Oliva</p>
        <p>Leche</p>
        <p>Huevos</p>
        <p>Pan Rallado</p>
    </div>

    <div class="propiedades">
        <h2>Propiedades</h2>
        <div class="propiedades-texto">
            <p>
            La croqueta de jamón ibérico destaca por contener muchas vitaminas y minerales saludables para el cuerpo humano. Entre las vitaminas encontramos la <br>
            B1, B2, B3, B6 y más vitaminas del grupo D. En cuanto a los minerales, son abundantes el hierro, zinc, fósforo, calcio y magnesio entre otros. 
            </p>
            <p>La comida mediterránea tiene entre sus máximos exponntes al jamón ibérico ademas de otros muchos productos.</p>
       </div>
       <div class="alergenos">
            <img class="carta-alergenos" src="../images/carta/carta-alergenos.png">
       </div>
    </div>

    <div class="comentarios"> 
        <h1>Comentarios</h1>
         <div class="comentarios-galeria">
    
        <div class="comentario-caja">
            <p class="comentario-body">
                Bien crema la recena de ayer. Una buena cena de picoteo. No me ha defraudado.
            </p>
            <p class="nombre">
                Oliver de Lion
            </p>
            <img class="comentario-rating" src="../images/variedad/variedad-rating.png">
        </div>

        <div class="comentario-caja">
            <p class="comentario-body">
                A mi madre le encanto las croquetas que les lleve en navidades. Estaban bien padre. Mejor que los frijoles de la abuela. 
            </p>
            <p class="nombre">
                Carmen Maria de las Fuentes
            </p>
            <img class="comentario-rating" src="../images/variedad/variedad-rating.png">
        </div>

        <div class="comentario-caja">
            <p class="comentario-body">
                Visita relámpago a esta gran ciudad, y recomendados por nuestro anfitrión hemos venido a cenar a esta tasca. 
                Todo muy correcto, ambiete muy agradable y el trato inmejorable.
                Sin duda lo recomiendo
            </p>
            <p class="nombre">
                Maia Biagini
            </p>
            <img class="comentario-rating" src="../images/variedad/variedad-rating.png">
        </div>

        <div class="comentario-caja">
            <p class="comentario-body">
                Yo nunca como croquetas fuera porque no son como las de mi abuela, pero esta 
                vez decidí hacer una excepción y no me decepciono en abosoluto. Han 
                mejorado con creces las croquetas de mi abuela.
            </p>
            <p class="nombre">
                Maria Biarge
            </p>
            <img class="comentario-rating" src="../images/variedad/variedad-rating.png">
        </div>

        <div class="comentario-caja">
            <p class="comentario-body">
                En Bilbao se come de maravilla, y este es desde luego uno de mis lugares favoritos. Con 
                un servicio inmejorable, en la Croqueterie he probado las mejores croquetas de mi vida. 
                Muy contento.
            </p>
            <p class="nombre">
                Josep Ortega
            </p>
            <img class="comentario-rating" src="../images/variedad/variedad-rating.png">
        </div>

        <div class="comentario-caja">
            <p class="comentario-body">
                Visita relámpago a esta gran ciudad, y recomendados por nuestro anfitrión hemos venido a cenar a esta tasca. 
                Todo muy correcto, ambiete muy agradable y el trato inmejorable.
                Sin duda lo recomiendo
            </p>
            <p class="nombre">
                Maria Biarge
            </p>
            <img class="comentario-rating" src="../images/variedad/variedad-rating.png">
        </div>
  
  
   </div>
    </div>

</div>