---
layout: layouts/base.njk
title: Historia
eleventyNavigation:
    key: historia
    title: HISTORIA
    order: 3
imagenCabecera: ../images/historia/historia-banner.jpg
tituloCabecera: ../images/historia/historia-titulo.png
---

<div class="caja-dos"> 
    <div class="texto">
        <p> 
           Todo empezó en alguna comida familiar, tal vez en navidades o tal vez en verano, o un domingo cualquiera o la 
           celebración de algun cumpleaños. Poco importa el momento del año. Fue el escenario perfecto, tras alguna copita de más 
           y muchas risas y enfados, que nadie recuerda como pero las croquetas se convirtieron en tema de conversación. Y es que la
           familia Martinez tenemos una pequeña adicción a los fritos, en gran parte por culpa de la abuela y estas maravillosas 
           comidas familiares. Fue en ese momento, en el que con la euforia, las risas y el vino, Ibar, la hermana mayor, alzó la voz y 
           propuso abrir un bar de croquetas. Todos comenzamos a reir. Sentiamos que era una locura, una tonteria, pero a su vez
           empezó a nacer una ilusión dentro de nosotros. ¿Y si abriesemos una croqueteria? Y si, y si… En ese momento 
           empezamos a asignar los roles: “Yo seré cocinera” dijó una, “yo camarero” dijo otro, seguido de risas. 

        </p>
        <p> 
            Cuatro años más tarde, ese locura se volvió realidad...
        </p> 
    </div>

    <div class="galeria-historia"> 
        <div class="imagen">
           <img src="../images/historia/historia-1.png">
        </div>
         <div class="imagen">
            <img src="../images/historia/historia-2.png">
        </div>
         <div class="imagen">
            <img src="../images/historia/historia-3.png">
        </div>
         <div class="imagen">
            <img src="../images/historia/historia-1.png">
        </div>
         <div class="imagen">
            <img src="../images/historia/historia-2.png">
        </div>
         <div class="imagen">
            <img src="../images/historia/historia-3.png">
        </div>
    </div>

    <div class="galeria-texto">
        <h1>Ibar Martinez</h1>
        <h2>Fundadora</h2>
        <p>
            Ibar, la hermana mayor de la familia Martinez Echebarria, es la fundadera de <strong>La Croqueterie</strong>. Estudio informatica en la 
            universidad de Deusto, y trás 20 años dedicandose a ello, decidió abrir La Croqueterie. Desde entonces, es la encargada
            del local. Todo esto, es posible gracias a ella. 
        <p>
    </div>
        
    

    
</div>