---
layout: layouts/base.njk
title: "Mi hermoso portafolio"
eleventyNavigation:
    key: index
    title: Home
    order: 2
---
<h1>This is global data: {{siteData.name}}</h1>
<p>Esto es {{siteData.dominio}}, creado por {{siteData.autor}}</p>
