---
layout: layouts/base.njk
title: Localización
eleventyNavigation:
    key: localización
    title: LOCALIZACIÓN
    order: 4
imagenCabecera: ../images/localizacion/localizacion-banner.jpg
tituloCabecera: ../images/localizacion/localizacion-titulo.png
---

<div class="mapa"></div>
<div class="localizacion-texto">
    <div class="horario">
        <h2>Horario</h2>
        <p>
        Domingos a miércoles, de 10:00 a 23:00 <br>
        Jueves a sábados, de 10:00 a 01:00 <br>
        Cocina cierra 1h andes de cierre
        </p>
    </div>
    <div class="contacto">
        <h2>Contacto</h2>
        <p>
        info@croqueterie.com<br>
        948 372 567<br>
        @lacroqueterie
        </p>
    </div>
</div>