---
layout: layouts/base.njk
title: Packs
eleventyNavigation:
    key: packs
    title: PACKS
    order: 2
imagenCabecera: ../images/packs/packs-banner.jpg
tituloCabecera: ../images/packs/packs-titulo.png
---


<div class="caja-dos">
    <h1>Elegir Pack</h1>

    <div class="galeria-packs"> 
    <div class="imagen">
            <a href="/variedad/">
                <img src="../images/packs/packs-1.jpg">
            </a>    
            <div class="galeria-textos">
                <p> Pack 10 croquetas a elegir</p>
                <p class="numero">20€</p>
            </div>
    </div>
    <div class="imagen">
            <a href="/variedad/">
                <img src="../images/packs/packs-1.jpg">
            </a>
            <div class="galeria-textos">
                <p> Pack 10 croquetas a elegir</p>
                <p class="numero">20€</p>
            </div>
    </div>
    <div class="imagen">
            <a href="/variedad/">
                <img src="../images/packs/packs-1.jpg">
            </a>
            <div class="galeria-textos">
                <p> Pack 10 croquetas a elegir</p>
                <p class="numero">20€</p>
            </div>
    </div>
    <div class="imagen">
            <a href="/variedad/">
                <img src="../images/packs/packs-1.jpg">
            </a>
            <div class="galeria-textos">
                <p> Pack 10 croquetas a elegir</p>
                <p class="numero">20€</p>
            </div>
    </div>
    <div class="imagen">
            <a href="/variedad/">
                <img src="../images/packs/packs-1.jpg">
            </a>
            <div class="galeria-textos">
                <p> Pack 10 croquetas a elegir</p>
                <p class="numero">20€</p>
            </div>
    </div>
    <div class="imagen">
            <a href="/variedad/">
                <img src="../images/packs/packs-1.jpg">
            </a>
            <div class="galeria-textos">
                <p> Pack 10 croquetas a elegir</p>
                <p class="numero">20€</p>
            </div>
    </div>
    
    </div>


</div>

