---
layout: layouts/compra.njk
title: "Variedad"
---

<h1>Elegir variedad</h1>
<div class="variedad-contenido">

    <div class="barra-superior">
        <img src="../images/variedad/variedad-barra-superior.png">
    </div>

    <div class="barra-superior-2">
        <img src="../images/variedad/variedad-barra-superior-2.png">
    </div>

    <div class="variedad-imagenes">
        <div class="fila-uno">
            <div class="variedad-img">
                <img class="espacio" src="../images/variedad/variedad-1.png">
                <div class="variedad-info">
                    <p>Croquetas de cocido</p>
                    <div class"info-img">
                        <img class="variedad-estrellas" src="../images/variedad/variedad-rating.png">
                        <img class="variedad-alergenos" src="../images/variedad/variedad-alergenos.png">
                        <img class="cantidad" src="../images/variedad/variedad-num-0.png">
                    </div>
                </div>
            </div>

            <div class="variedad-img">
                <img class="espacio" src="../images/variedad/variedad-2.png">
                <div class="variedad-info">
                    <p>Croquetas de jamón</p>
                    <div class"info-img">
                        <img class="variedad-estrellas" src="../images/variedad/variedad-rating.png">
                        <img class="variedad-alergenos" src="../images/variedad/variedad-alergenos.png">
                        <img class="cantidad" src="../images/variedad/variedad-num-0.png">
                    </div>
                </div>
            </div>

            <div class="variedad-img">
                <img src="../images/variedad/variedad-3.png">
                <div class="variedad-info">
                    <p>Croquetas de mozzarella</p>
                    <div class"info-img">
                        <img class="variedad-estrellas" src="../images/variedad/variedad-rating.png">
                        <img class="variedad-alergenos" src="../images/variedad/variedad-alergenos.png">
                        <img class="cantidad" src="../images/variedad/variedad-num-1.png">
                    </div>
                </div>
            </div>
        </div> <!--fin .fila-uno-->

        <div class="fila-dos">
            <div class="variedad-img">
                <img class="espacio" src="../images/variedad/variedad-4.png">
                <div class="variedad-info">
                    <p>Croquetas de chipirones</p>
                    <div class"info-img">
                        <img class="variedad-estrellas" src="../images/variedad/variedad-rating.png">
                        <img class="variedad-alergenos" src="../images/variedad/variedad-alergenos.png">
                        <img class="cantidad" src="../images/variedad/variedad-num-1.png">
                    </div>
                </div>
            </div>

            <div class="variedad-img">
                <img class="espacio" src="../images/variedad/variedad-5.png">
                <div class="variedad-info">
                    <p>Croquetas de merluza</p>
                    <div class"info-img">
                        <img class="variedad-estrellas" src="../images/variedad/variedad-rating.png">
                        <img class="variedad-alergenos" src="../images/variedad/variedad-alergenos.png">
                        <img class="cantidad" src="../images/variedad/variedad-num-0.png">
                    </div>
                </div>
            </div>

            <div class="variedad-img">
                <img src="../images/variedad/variedad-6.png">
                <div class="variedad-info">
                    <p>Croquetas de salmón</p>
                    <div class"info-img">
                        <img class="variedad-estrellas" src="../images/variedad/variedad-rating.png">
                        <img class="variedad-alergenos" src="../images/variedad/variedad-alergenos.png">
                        <img class="cantidad" src="../images/variedad/variedad-num-1.png">
                    </div>
                </div>
            </div>
        </div> <!--fin .fila-dos-->

    </div> <!--fin .variedad-imagenes-->

</div> <!--fin .variedad-contenido-->

<div class="barra-inferior">
    <img src="../images/variedad/variedad-barra-inferior.png">
</div>

<div class="barra-inferior-2">
    <img src="../images/variedad/variedad-barra-inferior-2.png">
</div>